<div class="container mt-3">
    <h2>Directiorio de tiendas</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Codigo Tienda</th>
                <th>Direccion</th>
                <th>Codigo Postal</th>
                <th>Ciudad</th>
                <th>Provincia</th>
                <th>Telefono</th>

            </tr>
        </thead>
        <tbody>
            <tr (click)="ir()" *ngFor="let store of storesList">
                <td>{{store.nombre}}</td>




                <td>{{store.direction}}</td>
                <td>{{store.codigoPostal}}</td>
                <td>{{store.ciudad}}</td>
                <td>{{store.provincia}}</td>
                <td>{{store.telefono}}</td>


            </tr>

        </tbody>
    </table>
</div>