<div class="container mt-3">

    <h2 class="justify-center"> Listado de avisos </h2>

    <table class="table table-hover">

        <thead>
            <tr>
                <th>Numero Tienda</th>
                <th>prioridad</th>
                <th>tipo</th>
                <th>descripción</th>
                <th>fecha</th>
                <th>hecho</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let maintenance of maintenancesList; let i = index">
                <td [ngClass]="{'green': done}">{{maintenance.tienda}}</td>
                <td>{{maintenance.prioridad}}</td>
                <td>{{maintenance.oficio}}</td>
                <td>{{maintenance.description}}</td>
                <td>{{maintenance.id}}</td>
                <td     ><input type="checkbox"  
                    (click)="hecho()"    ></td>


            </tr>

        </tbody>


    </table>



</div>